// Footer Background Color
.footer-main, .footer-minimal{
  background-color: @derweili_dark_gray;
}
.footer-main .container, .footer-minimal .container{
  background-color: @derweili_dark_gray;
}


.footer-main{

  // footer headlines style
  .column--headline{
    color: inherit;
    font-weight: normal;
  }

  // hide footer horizontal line
  .footer--columns{
    border-bottom: none;
  }
}