.header-main{
  background-color: @derweili_dark_gray;

  .header--navigation{
    background-color: @derweili_dark_gray;
  }

  .top-bar{
    > .container{
      background-color: @derweili_dark_gray;
    }
  }

}



// Shop Navigation
.shop--navigation {
  .navigation--entry .btn {
    background-image: none;
    background-color: transparent;
    border: none;
  }

  // search column
  .entry--search{
    width: 50%;

    .main-search--form{

      // Reset the searchfield background
      .main-search--field {
        background: @derweili_search_field_bgc;
        color: @derweili_search_field_color;
        border: none;
        box-shadow: none;
        border-radius: 0;
        padding: 9px 38px 9px 20px;
        font-size: 14px;

        &:focus { background: @derweili_search_field_bgc; }
      }

    }
  }

}


  .header--navigation{

  .logo-main{
    .logo--shop.block{
      width: 100%;
    }
    .logo--link{
      display: block;
      height: 45px;
      height: 2.8125rem;
    }
  }

  .logo--link{
    img{
      margin: 0 auto;
      display: block;
    }
  }
}