@media screen and (min-width: @tabletViewportWidth) {
  /*Show sidebar on single product page*/
  .is--ctl-detail{
    .sidebar-main {
      display: block;
      + .content--wrapper{
        margin-left: 260px;
        margin-left: 16.25rem;
      }
    }
  }


  .sidebar--navigation{
    border: none;
  }

  .listing--sidebar .sidebar-filter .action--filter-options{
    border: none;
  }

}


.sidebar-main{
  padding-top: 0;
}


// paypal panel
.paypal-sidebar{
  border: none;
}